name: First Workflow

on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print a Welcome Message
        run: echo "Welcome to the First GitHub Actions Workflow!"

      - name: Checkout repository
        run: actions/checkout@v6.0.0

      - name: List repositories files
        run: ls -la
